@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Montserrat:wght@100;200;300;400;500&family=Nunito:wght@300;400;600;700&family=Open+Sans:wght@300;400;500;600&family=Roboto:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #000;
}
.box{
    display: flex;
    justify-content: space-between;
}
h2{
    color: #fff;
}
h1{
    color: lightskyblue;
}
.title-water{
    color: lightskyblue;
}